<%- include("partials/header.ejs") %>

<body>
    <%- include("partials/navbar.ejs") %>
    
    <div class="container mt-4">
        <hr>
        <div class="header d-flex justify-content-between">
            <h1>Perguntas</h1>
            <a href="/pergunta" class="btn btn-primary">Nova pergunta</a>
        </div>
        <hr>
        <% perguntas.forEach(pergunta => { %>
            <div class="card mt-4">
                <div class="card-body">
                    <div class="card-header"><h3><%= pergunta.titulo %></h3></div>
                </div>
                <div class="card-footer">
                    <a href="/pergunta/descricao/<%= pergunta.id %>">
                        <button class="btn btn-primary">Responder</button>
                    </a>
                </div>
            </div>
        <% }) %>
    </div>
</body>

<%- include("partials/footer.ejs") %>
